.button {
  width: 100%;
  border: transparent;
  background: transparent;
  padding: 0;
}

.button--primary {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 700;
  color: $color-dark-grey;
  font-size: 17px;
  line-height: 16px;
  border: 2px solid $color-dark-grey;
  padding: 16px 0;

  &:hover {
    background: $color-dark-grey;
    color: $color-white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background: $color-dark-grey;
  }
}

.button--social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142px;
}

.button--cart {
  width: 22px;
  height: 22px;
}

.button--bighero {
  background: $color-mint;
  padding: 30px 36px 27px 36px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;


  @include mobile {
    padding: 23px 36px 18px 30px;
    height: 103px;
    margin-top: 0;
    font-size: 19px;
    line-height: 24px;
    align-items: center;

    &:hover {
      height: 108px;
    }
  }

  &:hover {
    background: $color-mint-hero-hover;
    margin-top: 0;
  }
}

.button--darkhero {
  background: $color-mint-dark;
  padding: 31px 33px 27px 36px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;

  @include mobile {
    padding: 21px 27px 22px 30px;
    height: 103px;
    margin-top: 0;
    font-size: 19px;
    line-height: 24px;
    align-items: center;

    &:hover {
      height: 108px;
    }
  }

  &:hover {
    background: $color-mint-very-dark;
    margin-top: 0;
  }
}