.footer {
  width: 100%;
  height: 144px;
  background: $color-grey-background;
  margin-top: 104px;
  display: flex;
  align-items: center;
  position: relative;

  @include mobile {
    height: 160px;
    margin-top: 58px;
  }

  @include tablet {
    margin-top: 64px;
  }

  &__inner {
    margin: 0 auto;
    width: 1150px;
    padding: 51px 50px 58px 50px;
    display: flex;
    justify-content: space-between;

    @include tablet {
      max-width: 768px;
    }

    @include mobile {
      max-width: 320px;
      padding: 25px 30px 22px 30px;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    &:after {
      @include mobile {
        content: '';
        position: absolute;
        border-bottom: 1px solid $color-gray-line;
        width: 260px;
        top: 80px;
      }
    }
  }

  &__logo {
    width: 102px;
    height: 34px;

    @include mobile {
      display: none;
    }
  }

  &__dev {
    display: flex;
    align-items: center;
    gap: 28px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
  }
}
