@import '../libs/normlize.css';
@import './fonts.scss';
@import './components/header.scss';
@import './components/header-logo';
@import './components/page-header';
@import './components/titles';
@import './components/text';
@import './components/product-card';

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  background: black;
};

div {
  box-sizing: border-box;
}
