@import '../libs/normlize.css';
@import './fonts.scss';
@import './components/header.scss';
@import './components/header-logo';

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  background: black;
};

div {
  box-sizing: border-box;
}
