//Переменные для адаптивного миксина
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

//Цвета
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-grey: #444444;
$color-grey-background: #F1F1F1;
$color-gray-border: #ECECEC;
$color-gray-line: #E5E5E5;
$color-mint: #63D1BB;
$color-mint-dark: #56C3B2;
$color-mint-very-dark: #149080;